/*
Source: https://www.tailwindshades.com/
*/

:root {
  --color-1: #6b7280; /* gray */
  --color-2: #ef4444; /* red */
  --color-3: #f59e0b; /* orange */
  --color-4: #10b981; /* green */
  --color-5: #3b82f6; /* blue */
  --color-6: #6366f1; /* purple */
  --color-7: #8b5cf6; /* violet */
  --color-8: #ec4899; /* pink */
}
