:root {
  --color-1: #cbcdcd; /* gray */
  --color-2: #ea3c65; /* red */
  --color-3: #ffb7d3; /* pink */
  --color-4: #915ad3; /* purple */
  --color-5: #3984f2; /* blue */
  --color-6: #64d970; /* green */
  --color-7: #fedf7b; /* yellow */
  --color-8: #ff9f5b; /* orange */
}
